extend layout 

block title 
	<title>home</title>

block content 	
	h2(class='title') главная	
	p(class='content') Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae facere rerum ipsum? Quod quasi porro dolor. Error non dolorem enim saepe quam, officiis, porro accusamus iure aut repudiandae optio laudantium!Vel quis provident fuga labore error asperiores vitae! Consequatur aliquid, cum consectetur, ut voluptatem veniam officiis animi porro omnis possimus in saepe vel quia eveniet voluptate. Modi enim ab itaque.Similique tempore sit nesciunt velit incidunt debitis porro, tempora eaque ratione! Reprehenderit dolorum, ratione eius labore illum sit sint pariatur vitae rem delectus quae quis aut soluta, perspiciatis, dolore quia.Sed nemo, laboriosam, iste numquam praesentium quae, doloremque nisi odit soluta atque laudantium ullam enim quibusdam asperiores possimus consectetur sequi voluptatum! Maiores corrupti rerum modi at sapiente velit aliquid cupiditate.Placeat nostrum eius dolore reiciendis maxime velit illum deserunt dicta facilis unde id, tempora dolores ut qui quis adipisci quaerat nulla tempore. Dignissimos non exercitationem temporibus ipsam beatae, esse libero.Pariatur numquam ducimus autem animi soluta! Consectetur iure architecto dolore ipsum, iste enim optio repellendus minus laudantium id perferendis tempora possimus ut illo, vel, laborum voluptatem omnis a nam hic.